<% title "About" %>
<% keywords "Charlotte, About, Christian, Jamaica, Ruby on Rails, Air Force, Sales, People, HR, Talent" %>
<% description "Hi, I'm Andrew and I've been thinking about people, how we connect with each other, and the things we use to try to make us happy, for a very long time." %>

<article id="about-me">


  <p>Hi, I'm Andrew and I've been thinking about people, how we connect with each other and the things we use to try to make us happy, for a very long time.</p>

  <p>You can probably learn a good bit about me by Googling me since I have a unique name, only Andrew Gertig I know of so far.</p>

  <p>
    If you want to read some more you certainly can but I'm warning you it's just fluff from here on!
  </p>

  <h3>Where I'm from</h3>
  <p>
    I lived in <%= link_to "Kingston, Jamaica", "http://goo.gl/maps/gurBC" %> until I was 16 years old, in fact, I have Jamaican heritage that reaches back to the late 1800's.
    My father is one of the coolest men alive today, he embodies so many of the traits that I seek to emulate as a father and as a man.
    My mother is an amazing woman, a super-carer, a fine-line-walker between letting her children figure things out on their own and being consumed with worry. I don't have very many childhood memories that are lacking my mom.
  </p>

  <h3>Formative</h3>
  <p>
    While growing up I always had an interest in how the world worked and in particular how humans could build such amazing things. I caught the computer bug in the late eighties which manifested itself in the form of cardboard computers with paper floppy disks. Thankfully my uncle is a geek and he gave us a machine running Windows 3.1.1 in 1993. How I wish I was cool enough to remember what the processor hertz and baud rate of the modem were.
  </p>

  <p>
    Even though I didn't finish my 9th grade tutoring class in Pascal and I never took my home PC apart to add more RAM I still ended up leaving college with a degree in Electrical Engineering. During my collegiate years I worked for the Department of Energy (DoE) at <%= link_to "Lawrence Livermore National Laboratory (LLNL)", "https://www.llnl.gov/" %> on a space-based missile defense program (descended from the Star Wars program), then later I was able to work on a fascinating system that was used to <%= link_to "see through the debris [pdf]", "https://e-reports-ext.llnl.gov/pdf/327564.pdf" %> of the World Trade Center shortly after 9/11 to aide in the search. Joining the US Air Force as a 2nd Lieutenant shortly after the 2003 invasion of Iraq was a surreal experience. I'm extremely proud of my service to my country. Also, this <%= link_to "place was fun", "http://www.littlealeinn.com/" %>.
  </p>

  <p>
    During college and the subsequent time in the Air Force as an engineer I discovered that though I could do all the logic, analysis, design, you know, the head work of it all, that being an engineer wasn't my deepest passion. I really enjoy people, I love building things, and though I sometimes pretend not to, I love teaching.
  </p>


  <h3>Currently</h3>
  <p>
    The best way to stay up to date with what I've been up to professionally is to connect with me on <%= link_to "LinkedIn", "https://www.linkedin.com/in/andrewgertig" %> or follow me on twitter <%= link_to "@gertig", "https://twitter.com/gertig" %>. I look forward to getting to know you!
  </p>


  <%#= image_tag(asset_path("about-me.jpg"), class: "about-me-image") %>
  <div id="about-me-image"></div>


</article>
