<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%= link_to blogpost_path(post) do %>
            <h2 class="post-title">
              <%= post.title %>
            </h2>

            <% if !post.subtitle.nil? %>
              <h3 class="post-subtitle"><%= post.subtitle %></h3>
            <% end %>

          <% end %>
          <p class="post-meta">Posted by <%= post.user.name %> on <%= post.published_on %></p>
        </div>
        <hr>

      <% end %>

      <!-- Pager -->
      <!-- <ul class="pager">
          <li class="next">
              <%= link_to "â† Older Posts", archives_path, class: "previous-post" %>
          </li>
      </ul> -->
    </div>
  </div>
</div>
