<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Slug</th>
      <th>Content</th>
      <th>Published</th>
      <th>Meta description</th>
      <th>Published at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.user %></td>
        <td><%= page.slug %></td>
        <td><%= page.content %></td>
        <td><%= page.published %></td>
        <td><%= page.meta_description %></td>
        <td><%= page.published_at %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
