<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @page.published %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @page.meta_description %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @page.published_at %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
