<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
            <!-- <%= link_to root_url, id: "blog-title", class: "navbar-brand"  do %>
              <div id="avatar"></div>Andrew Gertig
            <% end %> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if is_andrew? %>
                  <li class="admin-link"><%= link_to "Dashboard", admin_path %></li>
                  <li class="admin-link"><%= link_to "Logout", destroy_user_session_path %></li>
                <% end %>
                <li>
                    <%= link_to "Home", root_url %>
                </li>
                <li>
                    <%= link_to "About", about_path %>
                </li>
                <li>
                  <%= link_to "Contact", "#", id: "email-me", title: "andrew.gertig at google's e-mail", data: { placement: "bottom", toggle: "tooltip" } %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- <nav class="ag">
  <ul>
    <li><%= link_to "Archives", archives_path %></li>
    <li><%= link_to "Contact", "#", id: "email-me", title: "andrew.gertig at google's e-mail", data: { placement: "bottom", toggle: "tooltip" } %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%#= link_to "Hire me", hire_me_path %></li>
    <% if is_andrew? %>
      <li class="admin-link"><%= link_to "Dashboard", admin_path %></li>
      <li class="admin-link"><%= link_to "Logout", destroy_user_session_path %></li>
    <% end %>
  </ul>
</nav> -->
